<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% for(let i=0;i<3;i++){ %>
    <form action="/submit" method="post">
      <button type="submit" method="post" name="index" value="<%= i %>">
        Delete
      </button>
    </form>
    <% } %>
  </body>
</html>
